Raspberry Pi Program/Gradlog/volumes/nodered/data/flows.json
[
    {
        "id": "30148f28ab28a527",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8e735caf8cf45fd6",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mosquitto:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0aefae5d2072c969",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "temperature",
        "name": "temperature",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "4c715683399aa261",
        "type": "mqtt in",
        "z": "30148f28ab28a527",
        "name": "",
        "topic": "temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8e735caf8cf45fd6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 500,
        "wires": [
            [
                "f3aa8834d11dcdcd",
                "773dedd2c89bca42"
            ]
        ]
    },
    {
        "id": "f3aa8834d11dcdcd",
        "type": "influxdb out",
        "z": "30148f28ab28a527",
        "influxdb": "0aefae5d2072c969",
        "name": "temperature",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1130,
        "y": 500,
        "wires": []
    },
    {
        "id": "773dedd2c89bca42",
        "type": "debug",
        "z": "30148f28ab28a527",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 440,
        "wires": []
    }
]